header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #333;    
}

header h1 {    
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 35px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}
